.top-panel{
    position: absolute;
    width: 100%;
    height: 5%;
    z-index: 2;
}

.account{
    float: right;
    cursor: pointer;
}

.right-panel{
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 2;
}

.controller{
    list-style-type: none;
}

.controller > li{
    cursor: pointer;
    font-size: 25px;
}

.active-link{
    transition: .2s ease;
    font-size: 25px;
    font-weight: bold;
}

