.title {
  font-weight: bolder;
}

hr {
  background-color: rgb(148, 147, 147);
}

.container {
  margin-bottom: 1000px;
}

.checkout-section {
  width: 100%;
}

.product-image {
  width: 120px;
  height: 120px;
}

.total-section {
  position: fixed;
  left: 70%;
}

.section,
.billing-address,
.shipping-section {
  font-size: 25px;
  font-weight: 500;
}

.section {
  list-style-type: none;
}

tr {
  border-color: rgb(245, 244, 244);
}

.btn-promo {
  color: white;
  background-color: #7367f0 !important;
}

.btn-fail {
  color: white;
  background-color: #ee5c5c !important;
  border-color: #ee5c5c !important;
}

.btn-promo:hover {
  background-color: #5548e9 !important;
}

.order-info {
  background-color: rgb(245, 244, 244);
  border-color: rgb(245, 244, 244);
}

.card {
  border-color: rgb(245, 244, 244);
}

.btn-pay {
  color: white;
  background-color: #000000 !important;
  border-color: #000 !important;
}

.btn-add {
  /* transform: translateX(-4px); */
  width: 100px;
  background-color: white;
  color: #574aee;
  border-color: #574aee !important;
  /* transition: .2s ease-in-out; */
}

.btn-add:hover {
  color: white;
  background-color: #574aee !important;
  transition: 0.1s ease-in-out;
}

.btn-see-more {
  background-color: #574aee;
  color: white;
}

.faHeart {
  color: rgb(88, 88, 88);
}

.mv-fav:hover {
  font-size: 17px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.cc-form {
  animation: appear 0.4s forwards;
}

.invalidCoupon {
  animation: appear 0.2s ease-in-out;
}

.product-image {
  margin-right: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.payment-method-menu {
  list-style-type: none;
  list-style: none;
}

.payment-method-menu > li {
  float: left;
  margin-right: 1.5rem;
  font-size: 2rem;
}

.payment-method-menu > li:hover {
  cursor: pointer;
}

.item-size,
.item-color {
  font-weight: normal;
  font-size: 15px;
}

.change-address {
  cursor: pointer;
}

.list-group-item {
  border: none;
}

.remove-coupon {
  color: #574aee !important;
  text-decoration: underline;
}

.remove-coupon:hover {
  cursor: pointer;
}

@keyframes appear {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.modal-dialog {
  max-width: 800px;
}

.paypal-button {
  width: 100% !important;
}

#amount {
  font-size: 18px;
}

.product-page-link {
  color: black;
}

.refresh-list:hover {
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.input-sect {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  padding: 0.25;
}

.input-sect:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#sect::before,
::placeholder {
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  color: #e3e2ec;
}
