<div class="container-fluid p-0 text-white">
    <div class="card bg-dark">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-center footer-section">
                <div class="section p-2">HELP
                    <div class="items mt-3">
                        <p>Delivery & Returns</p>
                        <p>FAQ</p>
                        <p>Track Order</p>
                        <p>Blog</p>
                        <p>Contacts</p>
                    </div>
                </div>
                <div class="section p-2">SHOP
                    <div class="items mt-3">
                        <p>New Arrives</p>
                        <p>Trending Now</p>
                        <p>Sales</p>
                        <p>Brands</p>
                    </div>
                </div>
                <div class="section p-2">GET IN TOUCH
                    <div class="items mt-3">
                        <p id="bold">Call:
                            <span>(656) 444 222 555</span>
                        </p>
                        <p class="bold">Email:
                            <span>example@example.com</span>
                        </p>
                        <div class="icons text-center">
                            <a class="icon-fb d-inline-block p-2 rounded"></a>
                            <a class="icon-ig d-inline-block ms-1 p-2 rounded"></a>
                            <a class="icon-tw d-inline-block ms-1 p-2 rounded"></a>
                            <a class="icon-yt d-inline-block ms-1 p-2 rounded"></a>
                            <a class="icon-pt d-inline-block ms-1 p-2 rounded"></a>
                        </div>
                    </div>
                </div>
                <div class="section p-2">DOWNLOAD APP
                    <img src="../../../assets/icons/downloadAt.jpg" class="w-75 smartphone-illustration">
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <hr>
            <p class="small">Made with love by:</p>
            <span class="small text-muted text-decoration-underline">@subl1me404</span>
            <p class="mt-0 text-muted small">subl1metype@gmail.com</p>
        </div>
    </div>
</div>
