
<div class="container">
    <div class="d-flex flex-row justify-content-center">
        <div class="panel-leftSide">
            <app-profile-list-group></app-profile-list-group>
        </div>
        <div class="settingsPanel p-3 border border-black shadow-sm">
            <div class="card shadow">
                <div class="card-body">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Delete Account?</label>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
