<div class="container-fluid mb-5">
    <img src="../../../assets/cover/01.jpg" class="cover-image rounded shadow-sm">
</div>

<div class="container">
    <div class="categories">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-auto me-5">
                <img src="../../../assets/stock/stock-woman.jpg" class="woman rounded shadow-sm">
                <h5>Women's</h5>
            </div>
            <div class="col-md-auto">
                <img src="../../../assets/stock/stock-man.jpg" class="man rounded shadow-sm">
                <h5>Men's</h5>
            </div>
          </div>
    </div>

    <div class="new-arrivals text-center mt-5">
        <h2>New arrivals</h2>
        <h6 class="text-muted">Check out our latest arrivals for the upcoming season</h6>
        <h6 class="text-muted">See the collecion here</h6>
    </div>

    <div class="new-products mt-5 text-center">
            Productos
    </div>
</div>

<div class="containter-fluid">
    <div class="trending-products mt-5 text-center">
        <h2>Trending now!</h2>
        products

        <br>
        <button class="btn btn-primary">Explore top sellers</button>
    </div>
</div>

<div class="container mb-5">
    <div class="popular-categories mt-5 text-center">
        <h2>Popular categories</h2>
        

        <div class="row justify-content-md-center text-center">
            <div class="col-auto">
                <img src="../../../assets/stock/shirts.jpg" class="category rounded-circle shadow-sm">
                <h5>T-shirts</h5>
            </div>
            <div class="col-auto">
                <img src="../../../assets/stock/shoes.jpg" class="category rounded-circle shadow-sm">
                <h5>Shoes</h5>
            </div>
            <div class="col-auto">
                <img src="../../../assets/stock/tops.webp" class="category rounded-circle shadow-sm">
                <h5>Tops</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 text-center">
    <h2>Enjoy our products in your Smartphone!  </h2>
</div>