<div class="product-card">
  <div
    class="product-image-wrapper"
    [routerLink]="['/products/detail', product._id]"
  >
    <img
      [src]="product.gallery[0].path"
      class="product-image"
      alt="{{ product.title }}"
    />
    <span class="product-overlay">View Details</span>
  </div>

  <div class="product-body">
    <h6 class="product-title">{{ product.title }}</h6>
    <p class="product-price">${{ product.price }}</p>

    <button class="btn btn-add-cart" (click)="addToCart(product._id)">
      <fa-icon [icon]="faCartShopping" class="me-1"></fa-icon>
      Add to Cart
    </button>
    <button
      class="btn btn-favorite mt-2"
      (click)="addToWishlist(product._id)"
      *ngIf="!isOnWishlist(product._id)"
    >
      Add to Wishlist
    </button>
    <button
      class="btn btn-favorite-active mt-2"
      (click)="removeFromWishlist(product._id)"
      *ngIf="isOnWishlist(product._id)"
    >
      Remove from Wishlist
    </button>

    <!-- <div class="cart-message" *ngIf="addToCartMesssage !== ''">
      {{ addToCartMesssage }}
    </div> -->
  </div>
</div>
