<div class="login-container">
  <div class="container">
    <div class="row align-items-center justify-content-center g-5">
      <!-- Ilustración -->
      <div class="col-12 col-lg-7 order-2 order-lg-1">
        <div class="illustration-wrapper">
          <img
            src="../../../assets/login-illustration.png"
            class="illustration"
            alt="Login illustration"
          />
        </div>
      </div>

      <!-- Formulario -->
      <div class="col-12 col-lg-5 order-1 order-lg-2">
        <div class="login-card">
          <div class="login-header">
            <div class="brand-mark">
              <span>{{ config.shopName[0] }}</span>
            </div>
            <h2 class="login-title">Welcome back</h2>
            <p class="login-subtitle">Sign in to continue shopping</p>
          </div>

          <form
            #loginForm="ngForm"
            (ngSubmit)="onSubmit(loginForm)"
            class="login-form"
          >
            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <div class="input-wrapper">
                <span class="input-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm12.95 3.244L8 10.086 1.05 5.244A2 2 0 0 0 1 5.5v8A2 2 0 0 0 3 15h10a2 2 0 0 0 2-2v-8a2 2 0 0 0-.05-.756Z"
                    />
                  </svg>
                </span>
                <input
                  id="email"
                  type="email"
                  class="form-control form-control-custom"
                  placeholder="example@example.com"
                  name="email"
                  [(ngModel)]="customer.email"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <div class="input-wrapper">
                <span class="input-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
                    />
                  </svg>
                </span>
                <input
                  id="password"
                  type="password"
                  class="form-control form-control-custom"
                  placeholder="Enter your password"
                  name="password"
                  [(ngModel)]="customer.password"
                  required
                />
              </div>
            </div>

            <div class="forgot-row">
              <a class="forgot-link" href="#">Forgot password?</a>
            </div>

            <button
              type="submit"
              class="btn btn-login"
              [disabled]="loginForm.invalid"
            >
              Log In
            </button>

            <div class="divider">
              <span class="divider-text">New to Ecommerce?</span>
            </div>

            <a class="btn btn-create-account" [routerLink]="['/register']">
              Create an Account
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
