.background{
    position: absolute;
    width: 100%;
    height: 100%;

}

.card{
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 101;
    animation: appear .1s forwards;
}

.product-image{
    max-width: 100%;
    height: auto;

    object-fit: cover;
}

.modalGoAway{
    animation: goAway .1s forwards;
}

.xmark{
    font-size: 20px;
    cursor: pointer;
}


.btn-checkout{
    color: white;
    background-color: #7367F0 !important;
    border-color: #7367F0 !important;
}

.btn-checkout:hover{
    background-color: #5f52f0 !important;
    transform: translateY(-5px);
    transition: .2s ease-in-out;
}

.col-resp{
    max-width: 100%;
    flex: 1 0 0%;
}

h5{
    font-size: 1.5vw;
}

@keyframes appear {
    0%{
        transform: translateX(-500px);
    }
    50%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes goAway {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(-500px);
    }
}


@media only screen and (max-width: 1000px){
    .background{
        background-color: gray;
        z-index: 500;
        filter: opacity(85%);
    }

    .card{
        width: 100% !important;
        background-color: unset;
        z-index: 600;

    }

    .col-resp{
        max-width: none;
        flex: none;
    }

    .product-title{
        font-size: 2vw;
    }

    .card-body{
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffff;
        
    }
}

@media only screen and (max-width: 670px){
    .col-resp{
        width: 100% !important;
    }
    
    .product-title{
        margin-top: 1%;
        font-size: 3vw;
    }
}

